hw1/grading.py
hw1/test_2.py
hw1/test_4.py
hw1/test_1.py
hw1/test_3.py
hw1/__pycache__/problem1.cpython-313.pyc
hw1/__pycache__/problem2.cpython-313.pyc
hw1/__pycache__/problem3.cpython-313.pyc
hw1/__pycache__/problem4.cpython-313.pyc
hw1/__pycache__/test_2.cpython-313-pytest-8.3.5.pyc
hw1/__pycache__/test_1.cpython-313-pytest-8.3.5.pyc
hw1/__pycache__/test_2.cpython-313-pytest-8.4.1.pyc
hw1/__pycache__/test_3.cpython-313-pytest-8.3.5.pyc
hw1/__pycache__/test_3.cpython-313-pytest-8.4.1.pyc
hw1/__pycache__/test_4.cpython-313-pytest-8.3.5.pyc
.DS_Store
HW2/grading.py
HW2/test_1.py
.gitignore
HW2/test_2.py
HW2/test_3.py
.gitignore
HW2/test_4.py
HW2/.vscode/settings.json
HW2/__pycache__/test_1.cpython-313-pytest-8.3.5.pyc
.gitignore
HW2/__pycache__/problem1.cpython-313.pyc
.gitignore
HW2/__pycache__/test_2.cpython-313-pytest-8.3.5.pyc
HW2/__pycache__/problem2.cpython-313.pyc
HW2/__pycache__/problem3.cpython-313.pyc
HW2/__pycache__/test_3.cpython-313-pytest-8.3.5.pyc
HW2/__pycache__/problem4.cpython-313.pyc
HW2/__pycache__/test_4.cpython-313-pytest-8.3.5.pyc
